body {
  counter-reset: tenBatKy;
}

/**
 * --------------------------------------------------------------------
 * Arial
 * --------------------------------------------------------------------
 */
.uk-height-min-small {
  min-height: 150px;
}
.uk-height-min-medium {
  min-height: 300px;
}
.uk-height-min-large {
  min-height: 450px;
}

@media (min-width: 1600px) {
  .uk-grid-5-xl {
    margin-left: -5px !important;
  }
  .uk-grid-5-xl > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-xl > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-5-l {
    margin-left: -5px !important;
  }
  .uk-grid-5-l > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-l > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-5-m {
    margin-left: -5px !important;
  }
  .uk-grid-5-m > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-m > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-5-s {
    margin-left: -5px !important;
  }
  .uk-grid-5-s > * {
    padding-left: 5px !important;
  }
  .uk-grid-5-s > .uk-grid-margin {
    margin-top: 5px !important;
  }
}

.uk-grid-5 {
  margin-left: -5px;
}
.uk-grid-5 > * {
  padding-left: 5px;
}
.uk-grid-5 > .uk-grid-margin {
  margin-top: 5px;
}

@media (min-width: 1600px) {
  .uk-grid-10-xl {
    margin-left: -10px !important;
  }
  .uk-grid-10-xl > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-xl > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-10-l {
    margin-left: -10px !important;
  }
  .uk-grid-10-l > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-l > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-10-m {
    margin-left: -10px !important;
  }
  .uk-grid-10-m > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-m > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-10-s {
    margin-left: -10px !important;
  }
  .uk-grid-10-s > * {
    padding-left: 10px !important;
  }
  .uk-grid-10-s > .uk-grid-margin {
    margin-top: 10px !important;
  }
}

.uk-grid-10 {
  margin-left: -10px;
}
.uk-grid-10 > * {
  padding-left: 10px;
}
.uk-grid-10 > .uk-grid-margin {
  margin-top: 10px;
}

@media (min-width: 1600px) {
  .uk-grid-20-xl {
    margin-left: -20px !important;
  }
  .uk-grid-20-xl > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-xl > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-20-l {
    margin-left: -20px !important;
  }
  .uk-grid-20-l > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-l > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-20-m {
    margin-left: -20px !important;
  }
  .uk-grid-20-m > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-m > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-20-s {
    margin-left: -20px !important;
  }
  .uk-grid-20-s > * {
    padding-left: 20px !important;
  }
  .uk-grid-20-s > .uk-grid-margin {
    margin-top: 20px !important;
  }
}

.uk-grid-20 {
  margin-left: -20px;
}
.uk-grid-20 > * {
  padding-left: 20px;
}
.uk-grid-20 > .uk-grid-margin {
  margin-top: 20px;
}

@media (min-width: 1600px) {
  .uk-grid-30-xl {
    margin-left: -30px !important;
  }
  .uk-grid-30-xl > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-xl > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-30-l {
    margin-left: -30px !important;
  }
  .uk-grid-30-l > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-l > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-30-m {
    margin-left: -30px !important;
  }
  .uk-grid-30-m > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-m > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-30-s {
    margin-left: -30px !important;
  }
  .uk-grid-30-s > * {
    padding-left: 30px !important;
  }
  .uk-grid-30-s > .uk-grid-margin {
    margin-top: 30px !important;
  }
}

.uk-grid-30 {
  margin-left: -30px;
}
.uk-grid-30 > * {
  padding-left: 30px;
}
.uk-grid-30 > .uk-grid-margin {
  margin-top: 30px;
}

@media (min-width: 1600px) {
  .uk-grid-40-xl {
    margin-left: -40px !important;
  }
  .uk-grid-40-xl > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-xl > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-40-l {
    margin-left: -40px !important;
  }
  .uk-grid-40-l > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-l > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-40-m {
    margin-left: -40px !important;
  }
  .uk-grid-40-m > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-m > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-40-s {
    margin-left: -40px !important;
  }
  .uk-grid-40-s > * {
    padding-left: 40px !important;
  }
  .uk-grid-40-s > .uk-grid-margin {
    margin-top: 40px !important;
  }
}

.uk-grid-40 {
  margin-left: -40px;
}
.uk-grid-40 > * {
  padding-left: 40px;
}
.uk-grid-40 > .uk-grid-margin {
  margin-top: 40px;
}

@media (min-width: 1600px) {
  .uk-grid-50-xl {
    margin-left: -50px !important;
  }
  .uk-grid-50-xl > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-xl > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 1200px) {
  .uk-grid-50-l {
    margin-left: -50px !important;
  }
  .uk-grid-50-l > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-l > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 960px) {
  .uk-grid-50-m {
    margin-left: -50px !important;
  }
  .uk-grid-50-m > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-m > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

@media (min-width: 640px) {
  .uk-grid-50-s {
    margin-left: -50px !important;
  }
  .uk-grid-50-s > * {
    padding-left: 50px !important;
  }
  .uk-grid-50-s > .uk-grid-margin {
    margin-top: 50px !important;
  }
}

.uk-grid-50 {
  margin-left: -50px;
}
.uk-grid-50 > * {
  padding-left: 50px;
}
.uk-grid-50 > .uk-grid-margin {
  margin-top: 50px;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-8px:nth-child(n+2) {
  margin-top: 0.5rem;
}

.item-9px:nth-child(n+2) {
  margin-top: 0.5625rem;
}

.item-12px:nth-child(n+2) {
  margin-top: 0.75rem;
}

.item-18px:nth-child(n+2) {
  margin-top: 1.125rem;
}

.item-24px:nth-child(n+2) {
  margin-top: calc(1.275rem + 0.3vw);
}
@media (min-width: 1200px) {
  .item-24px:nth-child(n+2) {
    margin-top: 1.5rem;
  }
}

.item-41px:nth-child(n+2) {
  margin-top: calc(1.38125rem + 1.575vw);
}
@media (min-width: 1200px) {
  .item-41px:nth-child(n+2) {
    margin-top: 2.5625rem;
  }
}

.item-47px:nth-child(n+2) {
  margin-top: calc(1.41875rem + 2.025vw);
}
@media (min-width: 1200px) {
  .item-47px:nth-child(n+2) {
    margin-top: 2.9375rem;
  }
}

.item-50px:nth-child(n+2) {
  margin-top: calc(1.4375rem + 2.25vw);
}
@media (min-width: 1200px) {
  .item-50px:nth-child(n+2) {
    margin-top: 3.125rem;
  }
}

.item-100px:nth-child(n+2) {
  margin-top: calc(1.75rem + 6vw);
}
@media (min-width: 1200px) {
  .item-100px:nth-child(n+2) {
    margin-top: 6.25rem;
  }
}

.item-161px:nth-child(n+2) {
  margin-top: calc(2.13125rem + 10.575vw);
}
@media (min-width: 1200px) {
  .item-161px:nth-child(n+2) {
    margin-top: 10.0625rem;
  }
}

.width-445px {
  max-width: 100%;
  width: 445px;
}

.width-540px {
  max-width: 100%;
  width: 540px;
}

.width-570px {
  max-width: 100%;
  width: 570px;
}

.width-810px {
  max-width: 100%;
  width: 810px;
}

.width-1063px {
  max-width: 100%;
  width: 1063px;
}

.width-1364px {
  max-width: 100%;
  width: 1364px;
}

.header:not(.uk-navbar-transparent) {
  background: #fff;
}
.header__item, .header .uk-navbar-nav > li > a, .header .uk-navbar-item, .header .uk-navbar-toggle {
  min-height: 65px;
}
.header__hover, .header .uk-navbar-nav > li:hover > a, .header .uk-navbar-nav > li > a[aria-expanded=true] {
  color: #666;
}
.header__active, .header .uk-navbar-nav > li.uk-active > a {
  color: var(--cam, #F78924);
  font-family: "Be Vietnam Bold", sans-serif;
}
.header__btn {
  text-transform: inherit;
  border-color: #F78924;
  font-size: 14px;
  color: #F78924;
}
.header .uk-navbar-nav > li > a {
  font-size: 15px;
  text-transform: inherit;
  color: #525252;
}
.home__txt1 {
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--tm, #7A1FC1);
}
.home__table tr th, .home__table tr td {
  border: 1px solid #D0ADEB;
  color: var(--tm, #7A1FC1);
  text-align: center;
}
.home__table thead tr th {
  text-transform: inherit;
  font-weight: 700 !important;
  background: var(--tm-nht, #F6EAFF);
}
.home__note {
  color: var(--cam, #F78924);
  font-size: 1.0625rem;
  font-family: "Be Vietnam Bold", sans-serif;
}
.home__list > li:nth-child(n+2) {
  margin-top: 0;
}
.home__bg {
  background-color: rgba(246, 234, 255, 0.5);
}
.home__accordion__li {
  border-radius: 8px;
  background: var(--trng, #FFF);
  padding: 15px 20px;
  padding-right: 10px;
}
.home__accordion__title {
  color: var(--tm, #7A1FC1);
  font-size: 16px;
}
.home__zaloTxt {
  color: var(--cam, #F78924);
  font-size: 1.25rem;
}
.home__form__input {
  font-size: 15px;
  border-radius: 8px;
}
.home__form__btn {
  background: var(--cam, #F78924) !important;
  font-size: 1.25rem;
  text-transform: inherit;
  border-radius: 8px;
}
.home__location__box {
  padding-left: 100px;
  position: relative;
}
.home__location__box:before {
  counter-increment: tenBatKy;
  content: "0" counter(tenBatKy) ".";
  position: absolute;
  top: 0;
  left: 0;
  color: var(--cam, #F78924);
  font-size: calc(1.425rem + 2.1vw);
  line-height: 0.45;
}
@media (min-width: 1200px) {
  .home__location__box:before {
    font-size: 3rem;
  }
}
.home__coverImg1:nth-child(1) {
  position: absolute;
  top: 256px;
  left: 0;
}
.home__coverImg1:nth-child(2) {
  position: absolute;
  top: 558px;
  right: 0;
}
.home__footer__title {
  font-size: 16px;
  color: var(--cam, #F78924);
}
.home__baogom__section {
  position: relative;
}
.home__baogom__section:before {
  position: absolute;
  content: "";
  width: 100vw;
  top: 0;
  bottom: 0;
  right: -30%;
  background: var(--cam-nhatj, #FFEDDD);
}
.home__baogom__coverTop {
  margin-top: -50px;
  border-radius: 24px;
}
.home__baogom__cover1 {
  margin-top: -60px;
  margin-left: -100px;
  border-radius: 24px;
}
.home__dichvu__section {
  position: relative;
}
.home__dichvu__section:before {
  content: "";
  min-height: 557px;
  width: 100vw;
  background: var(--tm-nht, #F6EAFF);
  position: absolute;
  top: 0;
  left: 30%;
}
.home__khachhang__section {
  position: relative;
}
.home__khachhang__section:before {
  content: "";
  min-height: 550px;
  width: 100vw;
  background: var(--tm-nht, #F6EAFF);
  position: absolute;
  top: 0;
  right: 30%;
}
.home__khachhang__title1 {
  color: var(--en, #2D2D2D);
  font-size: calc(1.425rem + 2.1vw);
}
@media (min-width: 1200px) {
  .home__khachhang__title1 {
    font-size: 3rem;
  }
}
.home__khachhang__txt {
  font-size: 15px;
}
.home__khachhang__name {
  font-size: 17px;
  font-weight: 700;
  color: #fff;
}

.bungee-inline-regular, .home__location__box:before {
  font-family: "Bungee Inline", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*# sourceMappingURL=style.css.map */
